.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
}

.topBar {
  flex-basis: 30px;
  background-color: #ffb86b;
}

.content {
  flex: 1;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  height: 40px;
}

.roundButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  flex: 1;
}

.activeButton {
  color: green;
}

.bottomBar {
  padding: 20px 10px;
  background-color: transparent;
}
