.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
}

.topBar {
  flex-basis: 30px;
  background-color: #ffb86b;
}

.content {
  flex: 1;
  position: relative;
}

.bottomBar {
  padding: 20px 10px;
  background-color: transparent;
}
