.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(75, 52, 33);
}

.topBar {
  flex-basis: 30px;
  background-color: #ffb86b;
}

// .bottomBar {
//   padding: 20px 10px;
//   background-color: transparent;
// }
