.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(2px);
  backdrop-filter: brightness(60%);

  z-index: 100;
}
