.buttonContainer {
  height: 40px;
  width: 100%;
  display: flex;
  color: #7c7c7c;
  background-color: #540000;
}

.roundButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  flex: 1;
}

.roundButton:hover {
  cursor: pointer;
}

.activeButton {
  color: green;
}
