.buttonContainer {
  height: 40px;
  width: 100%;
  display: flex;
  z-index: 3;
}

.roundButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  flex: 1;
  position: relative;
}

.roundButton:hover {
  cursor: pointer;
}

.activeButton {
  color: green;
}

.notificationCounter {
  position: absolute;
  top: -15px;
  right: 20px;
  border: 1px solid black;
  border-radius: 50px;
  width: 16px;
  padding: 8px 9px;
  text-align: center;
}
