@import "../../Room.module.scss";

.chatContainer {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 50%;
  background-color: rgb(19 85 90);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 3;
}

$chatHeight: 30px;

.chatInput {
  border-radius: 20px;
  resize: none;
  padding: 10px 60px 10px 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 25px;
  background-color: transparent;
  border: 1px solid black;
  font-family: $font-family;
}

.chatButtonsContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
  line-height: $chatHeight;
  font-weight: 900;
  justify-content: center;
  align-items: center;
}

.chatButton {
  padding-left: 10px;
}

.rightArrow {
  position: absolute;
  height: 100%;
  width: 20px;
  fill: black;
  top: -2px;
  right: 5px;
}

.chatOptions {
  padding-left: 3px;
  display: flex;
  flex-direction: row;
  // justify-content: center;
}

.chatOption {
  // border-radius: 15px;
  height: 30px;
  width: 40px;
  margin-right: 4px;
  border: 1px solid black;
  border-bottom: hidden;
  background-color: transparent;
  font-weight: 900;
}

.chatDialog {
  padding: 0 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.messageList {
  overflow-y: auto;
}

.message {
  border-bottom: 1px solid black;
  font-size: 18px;
  padding-bottom: 5px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
}

.message:last-child {
  border: none;
}

.messageTimestamp {
  font-size: 12px;
}

.chatInputContainer {
  position: relative;
}

.chatSizeToggleContainer {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-weight: 900;
  font-size: 26px;
  padding: 2px 0;
}

.chatSizeToggleContainer:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.chatSizeToggleArrow {
  height: 100%;
}
