.container {
  flex: 1;
  display: flex;
  position: relative;
}

.noPeerContainer {
  flex: 1;
}

.mainVideoContainer {
  height: 100%;
  width: 100%;
}

.sideVideoContainer {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20%;
}

.video {
  height: 100%;
  width: 100%;
}

.userPlaceHolder {
  width: 100%;
  height: 100%;
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}
