.container {
  flex: 1;
}

.peerVideoContainer {
  position: relative;
  height: 100%;
}

.userPlaceHolder {
  border: 1px solid red;
  width: 50%;
  aspect-ratio: 1;

  font-size: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
}
