.devicesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cameraSelectorContainer {
  display: flex;
  padding: 5px 0;
}

.cameraSelectorDropdown {
  margin-left: 20px;
}
